.img-responsive { width: 100%; display: inline-block; }

.flex {display: flex}
.flex-auto {flex: auto}
.flex-column {flex-flow: column}
.flex-row {flex-flow: row}
.flex-center {justify-content: center; align-items: center}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: transparent;
  color: white;
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  z-index: 100;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slides-container.lg {
  height: 100%;
}  
.slides-container.lg {
  overflow: hidden;
}
.slides-container.sm {
  max-height: 100px;
  min-height: 100px;
  overflow: hidden;
}

html, body, #root, #layout-content { height: 100%;}

.App-search-input {
  background: #fefefe none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) inset;
  min-width: 200px;
  padding: 10px;
}

.slide {
  width: 200px;
  height: 200px;
  float: left;
  background: #222;
  position: relative;
}

.slides-container { position: relative; }

.slides-container .scroller  {
  height: 100%;
  white-space: nowrap;
  width: 15000px;
  position: relative;
}

.slides-container.lg .slide  {
  height: 100%;
  width: 1920px;
}
.slides-container.lg .slide .photo {
  height: 100%;
  width: auto;
}
.slides-container.sm .slide  {
  height: 100px;
  max-height: 100px;
  min-width: 120px;
  overflow: hidden;
}

.slides-container .slide .photo {
  width:100%;
 
}

.arrow { font-size: 100px;
  position: fixed;
  left: 0;
  text-align: center;
  height: 140px;
  display: table-cell;
  vertical-align: middle;
  top: 50%;
  width: 140px;
  margin-top: -120px;
  border-radius: 50%;
  color: #fff;
  opacity: .9;
  cursor: pointer;
}
.arrow-hidden {
  display: none;
}
.arrow:hover {
  opacity: 1;
}
.arrow-left {left: 0; }
.arrow-right {left: auto; right:0}

.arrow-sm { 
  font-size: 50px;
  position: fixed;
  left: 0;
  text-align: center;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  border-radius: 0;
  color: #fff;
  opacity: .9;
  cursor: pointer;
  bottom: 0;
  line-height: 100px;
}

.arrow-left-sm {left: 0; }
.arrow-right-sm {left: auto; right:0}